<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>357459188715-kukfj11odqmdq90jg5tcu42q6nsi3kpc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357459188715-kukfj11odqmdq90jg5tcu42q6nsi3kpc</string>
	<key>API_KEY</key>
	<string>AIzaSyCbnjgiRHG9it2SePnCTfZN3WsV0m9HaOU</string>
	<key>GCM_SENDER_ID</key>
	<string>357459188715</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.NetworkTest</string>
	<key>PROJECT_ID</key>
	<string>networktest-56543</string>
	<key>STORAGE_BUCKET</key>
	<string>networktest-56543.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357459188715:ios:da8a4ae11101a4053557ae</string>
</dict>
</plist>